* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  background-image: url(./background-image.png);
  background-color: #ffedea;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-size: cover;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid #850122;
  width: 43rem;
  height: 45rem;
  background-color: #ffcccc;
  box-shadow: #755c62 1px 1px 0, #755c62 2px 2px 0, #755c62 3px 3px 0,
    #755c62 4px 4px 0, #755c62 5px 5px 0, #755c62 6px 6px 0, #755c62 7px 7px 0,
    #755c62 8px 8px 0, #755c62 9px 9px 0;
}

.equation {
  width: 100%;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
}

.result {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buttons button:active {
  background-color: #d93951;
  box-shadow: #3f3c59 1px 1px 0, #3f3c59 2px 2px 0;
  transform: translateX(2px) translateY(2px);
  -webkit-transform: translateX(2px) translateY(2px);
  -moz-transform: translateX(2px) translateY(2px);
  -ms-transform: translateX(2px) translateY(2px);
  -o-transform: translateX(2px) translateY(2px);
}

/* For keydown buttons on the keyboard */
.buttons button.active {
  background-color:  #d93951;
  box-shadow:  #d93951 1px 1px 0,  #d93951 2px 2px 0,  #d93951 3px 3px 0,
     #d93951 4px 4px 0;
  transform: translateX(2px) translateY(2px);
}

button {
  font-size: 2rem;
  text-align: center;
  box-shadow: #d93951 1px 1px 0, #d93951 2px 2px 0, #d93951 3px 3px 0,
    #d93951 4px 4px 0, #d93951 5px 5px 0;
  border: 2px solid #850122;
  cursor: pointer;
  color: #850122;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
    font-family: "Changa", sans-serif;
      background-color: #ffcccc;
}

.addition {
  width: 100%;
  font-size: 4rem;
  height: 9rem;
}

.display-background,
.calculation,
.clear-buttons,
.number-buttons,
.number-buttons div,
.operator-buttons div,
.operator-buttons {
  display: flex;
}

.clear-buttons,
.number-buttons,
.operator-buttons {
  flex-direction: column;
}

.display-background {
  align-items: center;
}

/* .calculator {
  border: 3px solid #850122;
  width: 43rem;
  height: 45rem;
  background-color: #ffcccc;
  box-shadow: #755c62 1px 1px 0, #755c62 2px 2px 0, #755c62 3px 3px 0,
    #755c62 4px 4px 0, #755c62 5px 5px 0, #755c62 6px 6px 0, #755c62 7px 7px 0,
    #755c62 8px 8px 0, #755c62 9px 9px 0;
} */

.calculator {
  justify-content: space-evenly;
}

.display-background {
  border: 2px solid #850122;
  width: 85%;
  height: 6rem;
  justify-content: center;
    background-color: #ffcccc;
}


.display {
  border: 2px solid #87857f;
  width: 96%;
  height: 90%;
  background-color: #a29b8e;
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.4);
  font-family: digital7, sans-serif;
  font-size: 2rem;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.number-buttons div button,
.remainder,
.multiplication,
.subtraction,
.division {
  width: 4.5rem;
  height: 4.5rem;
}

.clear-buttons,
.operator-buttons {
  justify-content: space-between;
}

.c,
.ce {
  width: 5rem;
    height: 9rem;
}

.number-buttons,
.operator-buttons {
  gap: 1rem;
}

.number-buttons div,
.operator-buttons div {
  gap: 0.8rem;
}

.remainder {
  font-size: 1.5rem;
}

.operator-image {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

@media only screen and (max-width: 790px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 660px) {
  html {
    font-size: 10px;
  }
}
